
.formModal {
    /* height: 86vh;
    overflow-y: auto;
    background-color:#272525;
    position: fixed;
    top: 86px;
    right:37px;
    left: 37px;
    z-index: 99; */
    height: 95vh;
    overflow-y: auto;

    position: fixed;
    top: 75px;
    /* left: 102px; */
    right: 0px;
    width: 100%;
    z-index: 99;
  }


  .add-form {
    /* background-color: #272525; */
    background-color: #f4f1f1;
  
    border: 1px solid #635d5d;
  }
  .add-device {
    text-align: left;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    font-weight: bold;
  }

  .input-search {
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FD6327;
    border-radius: 20px;
    opacity: 1;
    width: 100%;
    position: relative;
}

.input-search:focus {
    border: 1px solid #FD6327;
    outline: none;
}

.search-image {
    position: absolute;
    top: 80px;
    right: 30px;
}

.first-rule {
    border: 0.5px solid var(--unnamed-color-989fb4);
    border: 0.5px solid #989FB4;
    border-radius: 3px;
    opacity: 1;
    /* height: 30px; */
    width: 90px;
    color: #989FB4;
   
}

.rule-heading {
    color: var(--unnamed-color-989fb4);
    text-align: left;
    font: normal normal normal 8px/10px Montserrat;
    letter-spacing: 0px;
    color: #989FB4;
    opacity: 1;
}
.rule {
    color: var(--unnamed-color-989fb4);
    /* text-align: left; */
    font: normal normal normal 8px/10px Montserrat;
    letter-spacing: 0px;
    color: #989FB4;
    opacity: 1;
}

.total-rules-heading {
    color: var(--unnamed-color-989fb4);
    text-align: left;
    font: normal normal bold 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #989FB4;
    text-transform: uppercase;
}

.rules-list {
    background: #989FB40D 0% 0% no-repeat padding-box;
    border: 1px solid #989FB41A;
    border-radius: 3px;
    opacity: 1;
}

.grid-container-days {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap:6px;
    /* padding: 16px 15px 16px 65px; */
}
.first-days {
    border: 0.5px solid var(--unnamed-color-989fb4);
    border: 0.5px solid #989FB4;
    border-radius: 3px;
    opacity: 1;
    /* height: 35px;
    width: 25px; */
    color: #989FB4;
   
}
.grid-container-time {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:4px;
    /* padding: 16px 15px 16px 65px; */
}
.first-time {
    border: 0.5px solid var(--unnamed-color-989fb4);
    border: 0.5px solid #989FB4;
    border-radius: 3px;
    opacity: 1;
    height: 35px;
    width: 35px;
    color: #989FB4;
   
}

.cancel-button {
    border: 1px solid #0D0D0D;
    border-radius: 3px;
    opacity: 1;
    width: 150px;
    height: 40px;
 }
 .add-button {
    border: 1px solid var(--unnamed-color-fd6327);
    border: 1px solid #FD6327;
    border-radius: 3px;
    opacity: 1;
    width: 150px;
    height: 40px;
 }

 .time-option {
    background-color: #635d5d;
    
 }