<div class="row formModal">
  <div class="col-lg-12 add-form">
    <div class=" heading-container d-flex justify-content-between align-items-center">
      <span class="form-heading">ADD NEW ADVERTISEMENT</span>
      <a class="close-main pointer" (click)="closeForm()"><img src="assets/icons/cancel_24dp_999999.svg" alt=""
          width="28px"></a>
    </div>
    <div>
      <form [formGroup]="addAssetForm" autocomplete="off" (ngSubmit)="submit()">
        <div class="row">
         <div class="col-lg-6">
          <!-- <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Upload</label>
            <input type="file" class="form-control" id="inputGroupFile01" type="file" formControlName="adFile"  (change)="onFileSelected($event)">
          </div> -->
          <div>
            <div class="file-upload pointer" [style.border]="!addAssetForm.get('adFile').valid && submitted ? '1px solid red' : '1px solid black' ">
              <a (click)="fileSelect.click()">
                <img src="assets/icons/file-earmark-plus.svg" alt="">
                Drag and drop or <span style="color: rgb(212, 95, 11);">Browse</span> your file
                <input type="file" class="form-control" hidden id="inputGroupFile01" type="file" formControlName="adFile"  (change)="onFileSelected($event)" #fileSelect>
              </a>
            </div>

            @if (selectedFile) {
              <mat-card class="mt-2">
                <div class="d-flex align-items-center justify-content-between p-2">
                  <span>
                    {{ selectedFile?.name }}
                  </span>
                  @if (selectedFile) {
                  <a class="pointer text-end" (click)="deleteFile()">
                    <img style="color: #bdb8b8;" src="assets/icons/delete_black.svg" width="18" height="18">
                  </a>
                  }
                </div>
              </mat-card>
              }
          </div>
         </div>
          <div class="col-lg-6 mt-2">
            <div class="row">
              <!-- <div class="d-flex mb-3">
                <div class="audio-contanier p-2 me-2">
                  <a>
                    <img src="assets/icons/video.svg" alt="" class="me-1">
                    <span class="audio-heading">VIDEO</span>
                  </a>
                </div>
                <div class="audio-contanier p-2">
                  <a>
                    <img src="assets/icons/audio.svg" alt="" class="me-1">
                    <span class="audio-heading">AUDIO</span>
                  </a>
                </div>
              </div> -->
            <div class="col-lg-12">
            <mat-button-toggle-group name="fontStyle" formControlName="adType">
              <mat-button-toggle [value]="2">Video</mat-button-toggle>
              <mat-button-toggle [value]="1">Audio</mat-button-toggle>
              <mat-button-toggle [value]="3">Wifi</mat-button-toggle>
            </mat-button-toggle-group>
            </div>
              <!-- <div class="col-lg-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>siteId</mat-label>
                  <mat-select formControlName="siteId">
                    @for (item of sitesList; track $index) {
                    <mat-option [value]="item.siteId">{{item.siteId}}</mat-option>
                    }
                  </mat-select>
                  <mat-error>siteId is required</mat-error>
                </mat-form-field>
              </div> -->
              
              <div class="col-lg-6 mt-3">
                <p>Category</p>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Select</mat-label>
                  <mat-select formControlName="category">
                    @for (item of listCategoriesData; track $index) {
                    <mat-option [value]="item.category">{{item.category}}</mat-option>
                    }
                  </mat-select>
                  <mat-error>category is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6  mt-3">
                <p>Add Name</p>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Add Name</mat-label>
                  <input matInput formControlName="adName">
                  <mat-error>Add NAme is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 mt-2">
                <p>Description</p>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Enter here</mat-label>
                  <input matInput formControlName="description">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-12 text-center mt-5">
            <button class="ad-button" style="color: aliceblue;">CREATE</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- <div class="col-lg-6"></div> -->
</div>