<div class="row">
    <div class="col-lg-9 p-0 login-background">
        <!-- <div class="background-img">
            <img src="icons/login-background.png" alt="">
        </div> -->

        <div class="logo">
            <img src="icons/logo.png" alt="" width="300">
        </div>
        <p class="login-heading">your security is<br> our business</p>
    </div>

    <div class="col-lg-3 p-0 login-section">
        <div class="login-details">
            <p class="welcome-text">Welcome</p>
            <p class="sign-text">Sign into your account</p>

            <form [formGroup]="loginForm" autocomplete="off">
                <div class="mt-5" style="position: relative;">
                    <p class="user-heading">UserName</p>
                    <input type="text" class="ps-4" formControlName="userName">
                    <img src="icons/Union 59.svg" alt="" class="user-image" width="6px">
                </div>

                <div class="mt-2" style="position: relative;">
                    <p class="Password-heading">Password</p>
                    <input class="input-container ps-4" formControlName="password"
                        [type]=" showPassword ? 'text' : 'password'">
                    <div>
                        <img src="icons/Path 504.svg" alt="" class="key-image" width="4px">
                        <a><img src="icons/visible.svg" alt="" class="visible-image" width="16px"
                                (click)="visiblePaswword()"></a>
                    </div>
                    <a class="d-flex justify-content-end align-items-center mt-3" style="color: black;">Forgot
                        Password?</a>
                </div>

            </form>

            <div class="mt-4">
                <button class="login-button text-center" (click)="login()">
                    @if (showLoader()) {
                    <i class="fa fa-spinner fa-spin"></i>
                    }
                    Login
                </button>
            </div>
        </div>
    </div>
</div>