
<!-- <app-sub-header></app-sub-header> -->
<hr class="m-0"/>
<div class="Main-container">
    <div  class="grid-container">
        <div class="add-new-button pointer" (click)="openAddForm()">
            <a>
                <img src="assets/icons/plus (1).svg" alt="" class="mb-4">
                <p>CREATE ADVERTISEMENT</p>
            </a>
        </div>

        @for (item of newlistAdsInfoData; track $index) {
            <div class="grid-item" (click)="openLinkForm(item)" (mouseover)="open($index)">
                <div>
                    <img [src]="item.snapShotUrl" alt="Audio" width="100%">
                </div>

               @if(addIndex === $index) {
                <div class="image-container">
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- <img src="assets/icons/play_circle_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg" alt=""> -->
                    <p >{{item.adName}}</p>
                    <p class="text-trunc">{{item.category}}</p>
                    </div>
                    <div class="duration-time">
                         <p>{{item.duration + 's'}}</p>
                    </div>
                   
                </div>
               }
            </div>
        }
    </div>
</div>


@if(showForm) {
    <div class="m-4">
        <app-add-new-advertisement (newItemEvent)="close(); listAdsInfo(currentSite)"></app-add-new-advertisement> 
    </div>
}


@if(viewLinkForm) {
    <div>
        <app-link-add-rule-device [currentAdd]="currentItem" [currentSite]="currentSite" (newItemEvent)="closeLinkForm()"></app-link-add-rule-device>
    </div>
}





