
<!-- <app-sub-header></app-sub-header> -->

<div class="Main-container">
    <div  class="grid-container">
        <div class="add-new-button">
            <a (click)="openAddForm()">
                <img src="assets/icons/plus (1).svg" alt="" class="mb-4">
                <p class="add-button">Add New</p>
            </a>
        </div>

        @for (item of listAdsInfoNewData; track $index) {  
            <div class="grid-item" [ngClass]="{'device-ad': item.type === 'deviceAd', 'site-ad': item.type === 'siteAd'}"  (click)="openLinkForm(item)" >
                <!-- <div class="d-flex justify-content-between align-items-center">
                    <img src="assets/icons/bavarchi.svg" alt="">
                    <img src="assets/icons/bx-dots-vertical-rounded.svg" alt="">
                </div> -->
                <div style="color: antiquewhite; text-align: center;">
                    <img [src]="item.snapUrl" alt="" width="20px">
                    <!-- <img src="assets/icons/bulb.svg" alt="" width="24px" class="mt-2 mb-2"> -->
                    <p class="name-ads mt-2">{{item.adName}}</p>
                    <p class="name-ads mb-1">{{item.category}}</p>
                    <p class="name-ads">{{item.duration + 'seconds'}}</p>
                </div>
            </div>
        }
    </div>
</div>


@if(showForm) {
    <div class="m-4">
        <app-add-new-advertisement (newItemEvent)="close()"></app-add-new-advertisement> 
    </div>
}


@if(viewLinkForm) {
    <div>
        <app-link-add-rule-device [currentAdd]="currentItem" [currentSite]="currentSite" (newItemEvent)="closeLinkForm()"></app-link-add-rule-device>
    </div>
}





