<!-- sub header -->
<div class="sub-header">
    <div>
        <span class="site-info me-2 ms-4">
            <a class="pointer mx-2" (click)="openSites()">
                <img src="assets/icons/site-image.svg" alt="" width="14px" class="me-2">
                <img src="assets/icons/arrow-ios-downward-outline.svg" alt="" width="14px">
            </a>

            @if(opensiteDialog) {
            <div class="sites-list">
                <input type="text" class="input-search mb-3" placeholder="Search-Site" [(ngModel)]="searchText">
                <div class="search-image">
                    <img src="assets/icons/search.svg" alt="">
                </div>
                @for (site of sitesList | search: searchText; track $index) {
                <div class="sites-list-items">
                    <a class="d-flex justify-content-between align-items-center" (click)="getCamerasForSite(site)">
                        <span class="site-name" style="font-size: 14px;">{{site.siteName}}</span>
                        <!-- <img src="assets/icons/plus.svg" alt=""> -->
                        @if (site.siteId === currentSite?.siteId) {
                        <span> - </span>
                        }
                        @if (site.siteId !== currentSite?.siteId) {
                        <span> + </span>
                        }
                    </a>

                    @if (site.siteId === currentSite?.siteId) {
                    <ng-container>
                        @for (cam of camerasList; track $index ; let i = $index) {
                        <div class="d-flex justify-content-between align-items-center">
                            <p style="font-size: 12px;">{{i+1}} - {{cam.name}}</p>
                            <div>
                                <!-- <a href=""><img src="assets/icons/camera-green.svg" alt=""> </a>
                                            <a href=""><img src="assets/icons/md-eye.svg" alt="" class="mx-2"></a>
                                            <a href=""><img src="assets/icons/pin.svg" alt=""></a> -->
                            </div>
                        </div>
                        }
                    </ng-container>
                    }
                </div>
                }
            </div>
            }
        </span>

        <span class="air-text">{{currentSite?.siteName}}</span>
    </div>

    <div class="side-menu d-flex align-items-center">
        <div>
            <!-- <a class="mx-2" style="text-decoration: none;color: black;">
                        <img src="assets/icons/camera-grey.svg" alt="" class="me-2">
                        <span style="font-size: 12px;">0</span>
                    </a> -->
        </div>
        <div>
            <!-- <a>
                        <img src="assets/icons/camera-green.svg" alt="" class="me-2">
                        <span style="font-size: 12px;">9</span>
                    </a> -->
        </div>
        <div>
            <!-- <a>
                        <img src="assets/icons/visible-big-orange.svg" alt="" class="me-2" width="10px">
                        <span style="font-size: 12px;">3</span>
                    </a> -->
        </div>


        <div class="me-4">
            <a class="pointer" [matMenuTriggerFor]="menu">
                <img [src]="currentgridIcon" alt="" width="15" class="me-2">
                <img src="assets/icons/arrow-ios-downward-outline.svg" alt="" width="14px">
            </a>

            <mat-menu xPosition="before" #menu="matMenu">
                <div class="grid-type">
                    @for (item of gridTypes; track $index) {
                        <a (click)="changeGrid(item)"><img [src]="item.path" width="15" alt=""></a>
                    }
                </div>
            </mat-menu>
        </div>
    </div>
</div>

<!-- grid container -->
     <div class="grid-container" #gridContainer>
        @if(camerasList.length !== 0) {

            @for(cam of getCurrentItems; track $index) {
            <div class="grid-item" (dblclick)="changeGrid({
                label: this.gridTypes[0].label,
                noOfItems: this.gridTypes[0].noOfItems,
                path: this.gridTypes[0].path
              })">
                <iframe class="d-none" (load)="getUrl(cam?.httpUrl, cam)"></iframe>
                @if (cam.videoUrl && selectedGrid !== 1) {
                    <ng-container>
                        <app-video-plr [videoData]="cam?.videoUrl" [camerasForPage]="4"></app-video-plr>
                    </ng-container>
                }
        
                @if(cam.videoUrl && selectedGrid === 1) {
                <ng-container>
                    <div class="d-flex align-items-center justify-content-around h-100">
                        <a class="first-arrow" (click)="loadPrevCam()">
                            <img src="assets/icons/arrow-down-short-orange.svg" alt="">
                        </a>
        
                        <div>
                            <ng-container>
                                <!-- <app-video-plr [videoData]="currentCam?.videoUrl"></app-video-plr> -->
                                <iframe class="iframe" [src]="currentCam?.httpUrl | sanitize" frameborder="0"></iframe>
                            </ng-container>
        
                            <div class="camera-tile-list">
                                @for (item of camerasList; track $index) {
                                <!-- <iframe class="d-none" (load)="getUrl(item?.httpUrl, item)"></iframe> -->
                                <div class="d-flex flex-column">
                                    <div [ngClass]="currentCam.cameraId == item.cameraId ? 'camera-tile tile-active' : 'camera-tile'"
                                        (click)="playCurrentCam(item)">
                                        <img src="assets/icons/camera-grey (2).svg" alt="">
                                        <!-- <iframe class="iframe" [src]="currentCam?.snapshotUrl | sanitize" frameborder="0"></iframe> -->
                                    </div>
                                    <p class="tile-name">{{item.name}}</p>
                                </div>
                                }
                            </div>
                        </div>
        
                        <a class="second-arrow" (click)="loadNextCam()">
                            <img src="assets/icons/arrow-down-short-orange.svg" alt="">
                        </a>
                    </div>
                </ng-container>
                }
            </div>
            }
        }
     </div>