<div class="row formModal">
  <div class="col-lg-12 add-form">
    <div class=" heading-container d-flex justify-content-between align-items-center ms-4">
      <div class="d-flex">
        <div class="mt-4">
          <button type="button" class="btn btn-outline-secondary" (click)="openPlayDialog(currentAdd)">PLAY</button>
        </div>
        <div class="ms-4 mt-4">
          <p class="add-name text-danger fw-bold">{{currentAdd?.adName}}</p>
          <p class="bevarege">{{currentAdd?.category}}</p>
        </div>
      </div>
      <a class="pointer ms-2" (click)="closeForm()"><img src="assets/icons/cancel_24dp_999999.svg" alt=""width="28px"></a>
      <!-- <button class=" btn btn-secondary pointer" (click)="openRuleFormNew()">ADD RULE</button> -->

    </div>
    <!-- <p (click)="createRuleForm()" style="color: #989fb4;" >add</p> -->
    <div class="row main-container">
      <div class="col-lg-5">
        <!-- <div class="d-flex justify-content-between align-items-center">
          <div class=" d-flex flex-row mb-2 mt-1">
            <img [src]="currentAdd.snapShotUrl" alt="" width="50px" class="me-2">
            <div>
              <p class="add-name" style="color: red;">{{currentAdd.adName}}</p>
              <p class="bevarege">{{currentAdd.category}}</p>
            </div>
          </div>
          
          <div>
            <button type="button" class="btn btn-outline-secondary"
              (click)="openViewAddForm(currentAdd)">PLAY</button>
          </div>
        </div> -->


        <div class="d-flex justify-content-between align-items-center">
          <p class="total-devices ms-1">TOTAL DEVICES - {{devicesData.length}}</p>
          <div class="input-group input-group-sm mb-3 w-50">
            <input type="text" class="form-control" [(ngModel)]="deviceSearch" placeholder="Device Search">
          </div>
        </div>
        

        <div class="device-main-container">
          @for (item of devicesData | search: deviceSearch; track $index) {
          @if(item.deviceId && item.deviceName) {
          <div class="device-container d-flex justify-content-between align-items-center pointer"
          [ngClass]="{'highlight-red': deviceIndex === $index}" (click)="openRuleFormFor(item); listRulesbyAdId()" >
        
            <div class="d-flex flex-row">
            
              <div  >
                <!-- @if(item.associationStatus === 1) {
                <small class="text-danger fw-bold">Associated</small>
                } -->
                  <!-- <p class="device-details">{{item.cameraName}}</p> -->
           
                <p class="device-heading" style="width: 150px;" >{{item.deviceName}}</p>
                <p class="device-details">{{item.deviceId}}</p>
              </div>
            </div>
            <div>
              <!-- <p class="device-details">{{item.cameraName}}</p> -->
               
              <img [src]="item.camSnapShotUrl" alt="" width="60px">

              @if(item.camSnapShotUrl =="No snapshotUrl") {

                <img src="assets/icons/images.jpg" alt="" width="60px">
              }
            </div>

            

            <!-- <p class="device-details">{{item.main}}</p> -->
            <!-- <div>
                @if (item.associationStatus === 1) {
                <button class="btn btn-success pointer" matTooltip="Associated" (click)="openRuleFormFor(item)" >Associated</button>
                }
                @if (item.associationStatus === 0) {
                <button class=" btn btn-secondary pointer" (click)="openRuleForm(item)" matTooltip="Create New Rule">ADD RULE</button>
                }
                <button class="btn btn-dark ms-3" (click)="openRuleFormForAssociate(item)" matTooltip="Select Existing Rule">+</button>
            </div> -->
            <div>

              <span class="button-btt pointer me-3" (click)="openRuleForm(item)"  >Add Rule</span>
                @if(item.cameraId) {
                  <img src="assets/icons/camera-green.svg" alt="" width="30px" class="me-2" matTooltip="{{item.cameraName}}">
                }
                @if(!item.cameraId) {
                  <img src="assets\icons\plus (1).svg" alt="" width="25px" class="me-3" matTooltip="Add Camera" (click)="openAdverForm()">
                }
              <!-- <button class="btn btn-dark ms-3" (click)="openRuleFormForAssociate(item)" matTooltip="Select Existing Rule">+</button> -->
            </div>
          </div>
          }
          }
        </div>
      </div>

      <div class="col-lg-7">
        <div class="d-flex justify-content-between align-items-center">
          <p>Total Associated Rules</p>
          <!-- <button class="btn btn-secondary pointer" (click)="listDeviceRules()">Total Rules</button> -->
        </div>

        <div class="rules-side-container mt-4">
          @for (item of newRulesData | removeDuplicates: 'ruleId'  | search: ruleSearch; track $index) {
          <div class="rules-container">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <p class="rule-sub-heading" style="font-weight: bold;">Rule</p>

            @if (item.fromDate) {
              <div class="d-flex" >
                <p style="font-weight: bold;">Duration  </p>
                <p style="color: darkgreen; font-weight: bold;">&nbsp;{{item.fromDate}} - {{item.toDate}}</p>
              </div>
            }
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex">
                <div class="me-1">
                  <p class="sunday-heading">Days</p>
                  <div class="d-flex flex-row justify-content-start">
                    @for (day of item.workingDays; track $index) {
                    <div class="day-container m-1">
                      <p class="sunday-heading">{{weekdayays[day]}}</p>
                    </div>  
                    }
                  </div>
                </div>

                <div class="me-1">
                  <p class="sunday-heading">Time</p>
                  <div class="day-container m-1">
                    <p class="sunday-heading">{{item.adHours}}</p>
                  </div>
                </div>

                <div class="me-1">
                  <p class="sunday-heading">Temp</p>
                  <div class="day-container m-1">
                    <p class="sunday-heading">{{item.temp}}</p>
                  </div>
                </div>

                @if(item.objectRule == 2) {
                  <div class="me-1 mt-4">
                    <div class="day-container">
                      <p class="sunday-heading">{{'Min'}}</p>
                    </div>
                  </div>
                  <div class="me-1 mt-4">
                    <div class="day-container">
                      <p class="sunday-heading">{{item.objectCount}}</p>
                    </div>
                  </div>

                  <div class="me-1 mt-4">
                    <!-- <p>Min</p> -->
                  <div class="day-container">
                    <p class="sunday-heading">{{item.objectType == 1 ? 'Person' : item.objectType == 2 ? 'Vehicle' : ''}}</p>
                  </div>
                  </div>
                }

                <!-- <div class="me-3">
                  <p class="sunday-heading ms-1">Camera</p>
                  <div class="day-container m-1">
                    <select class="form-control custom-form-control" [(ngModel)]="item.objectType">
                      @for (status of getType(7); track $index) {
                      <option [value]="status.keyId">{{status.value}}</option>
                      }
                    </select>
                  </div>
                </div> -->
              </div>
              <div>
                <section class="example-section">
                  <mat-slide-toggle class="example-margin" [(ngModel)]="item.fromDate"
                    (change)="openRuleFormForAssociate(item); currentRuleData = item">
                  </mat-slide-toggle>
                </section>
              </div>
            </div>

          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>


<!-- @if (showDeviceForm) {
    <div>
        <app-add-device (newItemEvent)="closeDeviceForm()"></app-add-device>
    </div>
  }
  
  @if (showRuleForm) {
    <div>
      <app-new-rule (newItemEvent)="closeRuleForm()"></app-new-rule>
    </div>
  } -->

@if(viewAddForm) {
<div class="m-4">
  <app-view-advertisement [adsData]="currentAdd" (newItemEvent)="closeViewForm()"></app-view-advertisement>
</div>
}

@if (showRuleForm) {
<div>
  <app-create-new-rule [inputData]="currentAdd" [second]="devicesData" [site]="currentSite"
    [deviceIdFromParent]="currentDevice" (newItemEvent)="closeRuleForm()"></app-create-new-rule>
</div>
}





<ng-template #addNewRuleForm>
  <div style="background-color: #989fb4;" class="p-4">
    <p class="add-name" style="color: rgb(112, 84, 84);">{{currentAdd?.adName}}</p>
    <div class=" mb-2 mt-1">
      <!-- <img [src]="currentAdd.snapUrl" alt="" width="20px"> -->
      <div>
        <p class="add-name" style="color: rgb(112, 84, 84);">{{currentDevice?.deviceId}}</p>
        <p class="bevarege" style="color: rgb(141, 108, 108);">{{currentDevice?.deviceName}}</p>
      </div>
    </div>
    <!-- 
      <div style="background-color: gainsboro" class="d-flex justify-content-between align-items-center p-2">
        <p>Device Name - 9</p>
        <p>RULE - 2</p>
      </div> -->

    <!-- <p class="mb-3" style="color: rgb(112, 84, 84); font-size: 24px;">Select Rule</p>
   <div class="rules-selection my-2">
    <section>
      <mat-button-toggle-group [(ngModel)]="body.ruleId" aria-label="Font Style">
        @for(item of rulesData | search: ruleSearch; track $index) {

        <mat-button-toggle [value]="item.ruleId" (click)="currentRuleData = item">Rule {{$index+1}}</mat-button-toggle>

        }
      </mat-button-toggle-group>

 

    </section>
   </div> -->

  </div>

  <mat-dialog-content>
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="body.fromDate">

          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="body.toDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="text-center">
        <button class="btn btn-secondary mx-2" (click)="close()" mat-dialog-close>Cancel</button>
        <button class="btn btn-secondary" (click)="submit()" mat-dialog-close>Submit</button>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #viewCameraSelection>
  <div style="background-color: #989fb4;" class="p-2">
    <p>Select Camera</p>
  </div>
  <mat-dialog-content>
    <div class="row">
      <div class="col-lg-12 mt-2" style="font-size: 10px; font-weight: 700;">
        <mat-radio-group class="w-100" [(ngModel)]="deviceCam">
          <mat-label>Camera Type</mat-label>
         <div class="row">
          <div class="col-lg-5">
            <mat-radio-button class="ms-3" name="camera" [value]="0">Device camera</mat-radio-button>
           </div>
           <div  class="col-lg-5" >
            <mat-radio-button class="ms-3" name="camera" [value]="1">Existing camera list</mat-radio-button>
           </div>
         </div>
        </mat-radio-group>
      </div>
      @if(deviceCam == 1) {
      <div class="col-lg-8 mt-2 ms-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Camera Details</mat-label>
          <mat-select [(ngModel)]="cameraId">
            @for(item of cameralist; track $index) {
            <mat-option [value]="item.cameraId"><span
                style="font-size: 11px;">{{item.cameraId}}-{{item.name}}</span></mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      }

      <div class="text-end mt-3">
        <button class="btn btn-secondary mx-2" (click)="close()" mat-dialog-close>Cancel</button>
        <button class="btn btn-secondary" (click)="submitFor()" mat-dialog-close>Submit</button>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>