.formModal {
    height: 86vh;
    overflow-y: auto;
    background-color:#272525;
    position: fixed;
    top: 86px;
    right:37px;
    left: 37px;
    z-index: 99;
    /* width: 41%; */
    /* padding-bottom: 22px; */
    /* padding: 24px; */
  }

  
  mat-slider {
    width: 400px;
  }
  .dialog-content {
    padding: 10px 20px;
    max-width: 100vw;
    max-height: 40vh;
    overflow-y: auto;
    
  }

  .sunday-heading {
    font-size: 24px;
  }
  .add-name {
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 600 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
  }
  
.bevarege {
    color: var(--unnamed-color-989fb4);
    text-align: left;
    font: normal normal normal 10px/13px Montserrat;
    letter-spacing: 0px;
    color: #989FB4;
    opacity: 1;
}
.main-container {
    padding: 16px;
}
.device-main-container {
    height: 60vh;
    overflow-y: auto;
}

.total-devices {
    color: var(--unnamed-color-fd6327);
text-align: left;
font: normal normal 600 12px/15px Montserrat;
letter-spacing: 0px;
color: #FD6327;
text-transform: uppercase;
opacity: 1;
}

.device-container {
    background: #989FB41A 0% 0% no-repeat padding-box;
    border: 1px solid #989FB480;
    border-radius: 3px;
    opacity: 0.5;
    padding: 12px;
    margin: 12px;
    /* width: 550px; */

}

.device-heading {
    color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal 600 10px/13px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1
}
.device-details {
    color: var(--unnamed-color-989fb4);
text-align: left;
font: normal normal medium 9px/11px Montserrat;
letter-spacing: 0px;
color: #989FB4;
opacity: 1;
}


.rules-container {
    background: #989FB41A 0% 0% no-repeat padding-box;
    border: 1px solid #989FB480;
    border-radius: 3px;
    opacity: 0.5;
    padding: 8px;
    margin: 12px;
    /* width: 50vw; */
}
  .rules-heading {
    color: var(--unnamed-color-fd6327);
    text-align: left;
    font: normal normal 600 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #FD6327;
    text-transform: uppercase;
    opacity: 1;
  }

  .rule-sub-heading {
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 600 10px/13px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
  }

  .day-container {
    background: #989FB41A 0% 0% no-repeat padding-box;
    border: 1px solid #989FB480;
    border-radius: 3px;
    opacity: 0.5;
    padding: 6px;
  }

  .sunday-heading {
    color: var(--unnamed-color-ffffff);
    font: normal normal normal 6px/8px Montserrat;
    color: #FFFFFF;
    opacity: 1;
    font-size: 12px;
    }
    /* .rules-side-container {
        height: 70vh;
        overflow-y: auto;
    } */
  