<div class="sub-header">
    <div>
        <span class="site-info me-2 ms-4">
            <a class="pointer mx-2" (click)="openSites()">
                <img src="assets/icons/site-image.svg" alt="" width="14px" class="me-2">
                <img src="assets/icons/arrow-ios-downward-outline.svg" alt="" width="14px">
            </a>

            @if(opensiteDialog) {
            <div class="sites-list">
                <input type="text" class="input-search mb-3" placeholder="Search-Site" [(ngModel)]="searchText">
                <div class="search-image">
                    <img src="assets/icons/search.svg" alt="">
                </div>
                @for (site of sitesList | search: searchText; track $index) {
                <div class="sites-list-items">
                    <a class="d-flex justify-content-between align-items-center" (click)="getCamerasForSite(site)">
                        <span class="site-name" style="font-size: 14px;">{{site.siteName}}</span>
                        @if (site.siteId === currentSite?.siteId) {
                        <span>-</span>
                        }
                        @if (site.siteId !== currentSite?.siteId) {
                        <span>+</span>
                        }
                    </a>

                    @if (site.siteId === currentSite?.siteId && currentUrl === 'live-view') {
                    <ng-container>
                        @for (cam of camerasList; track $index ; let i = $index) {
                        <div class="d-flex justify-content-between align-items-center">
                            <p style="font-size: 12px;">{{i+1}} - {{cam.name}}</p>
                        </div>
                        }
                    </ng-container>
                    }
                </div>
                }
            </div>
            }
        </span>

        <span>{{currentSite?.siteName}}</span>
    </div>

    @if (currentUrl === 'live-view') {
    <div class="d-flex align-items-center pointer">
        <div>
            <img src="assets/icons/arrow_back_24dp_434343_FILL0_wght400_GRAD0_opsz24.svg" alt="" (click)="prevPage()">
            <select class="form-select" class="pointer" [(ngModel)]="currentPage" (ngModelChange)="changePage(currentPage)">
                @for (item of pagesList; track $index) {
                    <option [value]="item">{{ item }} of {{ noOfPages }}</option>
                }
            </select>
            <img src="assets/icons/arrow_forward_24dp_434343_FILL0_wght400_GRAD0_opsz24.svg" alt="" (click)="nextPage()">
        </div>

        <div class="side-menu d-flex align-items-center">
            <div class="pointer me-2">
                @for (item of gridTypes; track $index) {
                <a (click)="changeGrid(item)" class="grid-highlight"
                    [style.opacity]="selectedGrid == item.noOfItems ? 1: 0.5">
                    <img [src]="item.path" width="16" alt="">
                </a>
                }
            </div>
        </div>
    </div>
    }


    <!-- @if (currentUrl !== 'live-view') {
    <div>
        <select class="form-select" #site class="w-100" (change)="listAdsInfo(site.value)">
            @for (item of sitesList; track $index) {
            <ng-container>
                <option [value]="item.siteId">{{item.siteName}}</option>
            </ng-container>
            }
        </select>
    </div>
    } -->

    @if (currentUrl === 'advertisements' ) {
    <div class="side-menu d-flex align-items-center">
        <!-- <div>
            <a class="mx-2" style="text-decoration: none;color: black;">
                <span class="me-2" style="font-size: 12px;">Total</span>
                <span style="font-size: 12px;">{{newlistAdsInfoData.length}}</span>
            </a>
        </div>

        <div>
            <a class="mx-2" style="text-decoration: none;color: black;">
                <img src="assets/icons/youtube-video-green.svg" alt="" class="me-2">
                <span style="font-size: 12px;">{{newlistAdsInfoData | count: 'active' : 1 || 2 || 4}}</span>
            </a>
        </div>
        <div>
            <a>
                <img src="assets/icons/youtube-video-grey.svg" alt="" class="me-2">
                <span style="font-size: 12px;">{{newlistAdsInfoData | count: 'active' : 3 || 5}}</span>
            </a>
        </div> -->
        <!-- <div>
            <a>
                <img src="assets/icons/youtube-video-yellow.svg" alt="" class="me-2" width="10px">
                <span style="font-size: 12px;">3</span>
            </a>
        </div> -->
        <!-- <p class="pointer" style="font-size: 14px;">Generic Ads</p> -->
        <div>
            <a class="site-info pointer me-3" (click)="openFilter()">
                <img src="assets/icons/selection-for-ad.svg" alt="" width="10px" class="m-2">
                <img src="assets/icons/arrow-ios-downward-outline.svg" alt="" width="10px" class="me-2">
            </a>
        </div>

        @if (filterData) {
        <div class="filter-list">
            <p class="m-2">Select</p>
            <div class="row">
                <!-- <div class="col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>SiteId</mat-label>
                        <mat-select [(ngModel)]="siteId"> 
                           @for (item of sitesList; track $index) {
                            <mat-option [value]="item.siteId" (click)="filter(item.siteId)">{{item.siteId}} - {{item.siteName}}</mat-option>
                           }
                        </mat-select>
                        <mat-error>SiteId is required</mat-error>
                    </mat-form-field>
                </div> -->
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Ad Type</mat-label>
                        <mat-select [(ngModel)]="adBody.adType">
                            @for(item of getType(104); track $index) {
                            <mat-option [value]="item.keyId">{{item.value}}</mat-option>
                            }
                        </mat-select>
                        <mat-error>Ad Type is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Category</mat-label>
                        <mat-select [(ngModel)]="adBody.category">
                            @for (item of listCategoriesData; track $index) {
                            <mat-option [value]="item.Id">{{item.category}}</mat-option>
                            }
                        </mat-select>
                        <mat-error>Category is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Device</mat-label>
                        <mat-select [(ngModel)]="adBody.deviceId">
                            @for (item of devicesData; track $index) {
                            <mat-option [value]="item.deviceId">{{item.deviceId}} - {{item.deviceName}}</mat-option>
                            }
                            <mat-option></mat-option>
                        </mat-select>
                        <mat-error>Device is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-outline-secondary me-2" (click)="reset()">Reset</button>
                <button type="button" class="btn btn-outline-secondary" (click)="filter()">Apply</button>
            </div>

        </div>

        }


    </div>
    }
</div>

<!-- <div class="me-4">
    <a class="pointer" [matMenuTriggerFor]="menu">
        <img [src]="currentgridIcon" alt="" width="15" class="me-2">
        <img src="assets/icons/arrow-ios-downward-outline.svg" alt="" width="14px">
    </a>

    <mat-menu xPosition="before" #menu="matMenu">
        <div class="grid-type">
            @for (item of gridTypes; track $index) {
            <a (click)="changeGrid(item)"><img [src]="item.path" width="15" alt=""></a>
            }
        </div>
    </mat-menu>
</div>
<div>
    <div class="pointer me-2">
        @for (item of gridTypes; track $index) {
        <a (click)="changeGrid(item)" class=" m-3"><img [src]="item.path" width="18" alt=""></a>
        }
    </div>
</div> -->
